@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply mr-4 mt-2 inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-purple-700 rounded-lg 
    hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800;
  }
  .btn-danger {
    @apply mr-4 mt-2 inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-red-700 rounded-lg 
    hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800;
  }
  .btn-menu {
    @apply text-gray-600 dark:text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center 
    dark:hover:bg-gray-600 dark:hover:text-white;
  }

  .error-message {
    @apply block mb-2 text-sm text-red-600 dark:text-red-500;
  }

  .modal-container {
    @apply overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-full bg-gray-700 bg-opacity-80 flex justify-center;
  }
  .modal-content {
    @apply relative bg-white rounded-lg shadow dark:bg-gray-800 p-4 m-auto w-full max-w-2xl h-full md:h-auto;
  }
  .modal-header {
    @apply flex justify-between items-center p-4 rounded-t border-b dark:border-gray-600;
  }
  .modal-title {
    @apply text-xl font-semibold text-gray-900 dark:text-white overflow-x-hidden;
  }
  .modal-description {
    @apply pb-4 text-black dark:text-white;
  }
  .modal-list {
    @apply flex flex-col text-gray-600 dark:text-gray-300;
  }

  .card-container {
    @apply p-4 m-2 w-[270px] bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700;
  }
  .card-title {
    @apply mb-2 font-semibold tracking-tight text-gray-900 dark:text-white overflow-x-hidden;
  }
  .card-list {
    @apply flex flex-col text-sm text-gray-600 dark:text-gray-300;
  }
}
